body{
    background-color: black;
}
.App {
    text-align: center;
    color: aliceblue;
  
  }
  
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 150px;
  }
  .pokemon-card :hover{
    background-color:paleturquoise;
    color: black;
  }
  
  .pokemon-card img {
    width: 100px;
    height: 100px;
  }
  
  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  